<div class="login">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <h1>Leave Management</h1>
      <p>Enter your register  to continue.</p>
      
      <div class="input-wrapper">
        <input type="text" placeholder="Enter your name" formControlName="name" />
        <i class="bx bxs-user-circle"></i>
      </div>

      <div class="input-wrapper">
        <input type="text" placeholder="Enter your Email" formControlName="email" autocomplete="username" />
        <i class="bx bxs-user-circle"></i>
      </div>
    
      <div class="input-wrapper">
        <input type="password" placeholder="Enter your password" formControlName="password" autocomplete="new-password" />
        <i class="bx bx-key"></i>
      </div>

      <div class="input-wrapper">
        <input type="password" placeholder="Please Re-Enter password" formControlName="confirmPassword" autocomplete="new-password" />
        <i class="bx bx-key"></i>
      </div>
      
      <div>
        <button type="submit" mat-raised-button color="accent" class="bx bx-right-arrow-alt">Register</button>
      </div>

    </form>
  </div>
  