<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h1>Welcome Back</h1>
    <p class="subheading capitalize">Enter your credentials to continue.</p>
    <div class="input-wrapper">
      <input type="text" placeholder="Enter your Email" formControlName="email" autocomplete="email" />
      <i class="bx bxs-user-circle"></i>
    </div>
    <div>
      <p *ngIf="helper.validate(loginForm,'email')?.required" class="errorMessage">{{helper.requiresMessage}} </p>
      <p *ngIf="helper.validate(loginForm,'email')?.email" class="errorMessage">{{helper.emailMessage}} </p>
    </div>
    <div class="input-wrapper">
      <input type="password" placeholder="Enter your password" formControlName="password"
        autocomplete="current-password" />
      <i class="bx bx-key"></i>
    </div>
    <div>
      <p *ngIf="helper.validate(loginForm,'password')?.required" class="errorMessage">{{helper.requiresMessage}} </p>
      <p *ngIf="helper.validate(loginForm,'password')?.minlength" class="errorMessage">{{helper.passwordMessage}} </p>
    </div>
    <div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </div>
    <div class="mt-2">
      <button type="button" (click)="showDialog()" class="btn btn-primary">Forgot Password</button>
    </div>
  </form>
</div>
<p-dialog header="Forgot Password" position="top" [(visible)]="display"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" modal="true">

  <div class="p-fluid p-formgrid p-grid" [formGroup]="loginForm">
    <div class="p-field p-col">
      <input type="text" placeholder="Enter your Email" formControlName="email" autocomplete="email" pInputText />
      <i class="bx bxs-user-circle"></i>
    </div>
    <div class="mt-4">
      <p *ngIf="helper.validate(loginForm,'email')?.required" class="errorMessage">{{helper.requiresMessage}} </p>
      <p *ngIf="helper.validate(loginForm,'email')?.email" class="errorMessage">{{helper.emailMessage}} </p>
    </div>
    <div class="p-field p-col mt-2">
      <p-button (onClick)="forgotPassword()" label="Submit"></p-button>
    </div>
  </div>
</p-dialog>