<div class="login">
  <form>
    <h1>Welcome Back</h1>
    <p>Enter your credentials to continue.</p>
    
    <div class="input-wrapper">
      <input type="text" placeholder="Enter your username" />
      <i class="bx bxs-user-circle"></i>
    </div>
  
    <div class="input-wrapper">
      <input type="password" placeholder="Enter your password" />
      <i class="bx bx-key"></i>
    </div>
    
    <div>
      <button type="submit">
        Sign In
        <i class='bx bx-right-arrow-alt'></i>
      </button>
    </div>
  </form>
</div>
